<div class="demo-card-container">
  <md-card>
    <md-card-header>
      <img src="./assets/users/0.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/1.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/2.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/3.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/4.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/5.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/6.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/7.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
    <md-card>
    <md-card-header>
      <img src="./assets/users/8.png" md-card-avatar>
      <md-card-title>User Name</md-card-title>
      <md-card-subtitle>User Email</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>Samsung Tab</p>
    </md-card-content>
  </md-card>
</div>